[Unit]
Description=Lidarr for music torrenting
After=network.target getty.target multi-user.target

[Container]
ContainerName=lidarr
PublishPort=8686:8686
Image=lscr.io/linuxserver/lidarr:latest
Environment=PUID=1000 PGID=1000
Volume=/data/config/lidarr:/config:Z
Volume=/data/media/:/data:z
UIDMap=+%U:@%U
Network=torrent

[Service]
Restart=Always

[Install]
WantedBy=multi-user.target default.target

