[Unit]
Description=Sonarr Torrent
After=network.target getty.target multi-user.target

[Container]
ContainerName=sonarr
PublishPort=8989:8989
Image=lscr.io/linuxserver/sonarr:latest
Environment=PUID=1000 PGID=1000
Volume=/data/config/sonarr:/config:Z
Volume=/data/media:/data:z
UIDMap=+%U:@%U
Network=torrent

[Service]
Restart=Always

[Install]
WantedBy=multi-user.target default.target

